.header{
    width: 100%;
    z-index: 10;

    .top-bar{
        margin:5% auto;
        text-align: center;
        
        @media only screen and (max-width:$bp-medium){
            margin-left:10%;
        }

        @media only screen and (max-width:$bp-small){
            width: 150%;
            margin-top: 50%;
        }

        @media only screen and (max-width:$bp-micro){
            margin-top: 30%;
        }

        .icon-x{
            height: 3rem;
            width: auto;

            @media only screen and (max-width:$bp-micro){
                height: 6rem;
                margin-bottom: 2rem;
            }
        }

        .icon-o{
            height: 3rem;
            width: auto;

            @media only screen and (max-width:$bp-micro){
                height: 6rem;
                margin-bottom: 2rem;
            }
        }
    }
}

.intro-box{
    display: flex;
    flex-direction: column;

    @media only screen and (max-width:$bp-medium){
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    @media only screen and (max-width:$bp-small){
        width: 160%;
    }
    

    .pick-players-box{
        height: 22rem;
        width: 50rem;
        padding:3rem 3rem;
        border-radius: 2rem;
        margin: 0 auto 5rem auto;
        background-color: $color-primary-light;
        box-shadow: 0 2rem 3rem rgba(0,0,0,.6);

        @media only screen and (max-width:$bp-small){
            width: 90%;
        }

        @media only screen and (max-width:$bp-micro){
            height: 40rem;
        }
        
        
        .pick-players-text{
            margin-bottom: 2rem;
            text-align: center;
            text-transform: uppercase;

            @media only screen and (max-width:$bp-micro){
               font-size: 3rem;
            }
        }

        .pick-x-o{
            margin-top: 2rem;
            margin-bottom: 2rem;
            display: flex;
            justify-content: space-between;
            background-color: $color-primary-dark;
            padding:1rem 2rem;
            border-radius: 1rem;
            align-items: center;

            @media only screen and (max-width:$bp-micro){
                margin-top: 4rem;
                padding:3rem 2rem;
            }

            & > :not(:first-child){
                background-color: $color-secondary-light;
            }

            .x-logo{
                height: 3rem;
                width: auto;
                margin-left: 20%;
                cursor: pointer;

                @media only screen and (max-width:$bp-micro){
                    height: 6rem;
                }
            }

            .o-logo{
                width: 50%;
                text-align: center;
                align-self: flex-end;
                cursor: pointer;
                // margin-left: 10rem;
                border-radius: 1rem;
                padding:1rem 0;
                // padding-right: 20rem;
                // padding-left: 2rem;

                @media only screen and (max-width:$bp-micro){
                    padding:3rem 0;
                }
                
                &-img{
                    height: 3rem;
                    width: auto;
                    // padding: 1rem 0;
                    // align-self: stretch;

                    @media only screen and (max-width:$bp-micro){
                        height: 6rem;
                    }
                }
            }
        }


        .selected-player{
            text-align: center;
            color: $color-secondary-dark;
            text-transform: uppercase;

            @media only screen and (max-width:$bp-micro){
                font-size: 3rem;
                margin-top: 3rem;
            }
        }
    }


    .new-game-btn{
        margin: 0 auto;
        text-align: center;
        display: inline-block;
        padding:2rem 5rem;
        width: 35%;
        border-radius: 2rem;
        color:$color-primary-dark;
        text-transform: uppercase;
        margin-bottom: 3rem;
        cursor: pointer;
        border-bottom: 6px solid rgba(0,0,0,.3);
        font-weight: 700;
        font-size: 2rem;

        @media only screen and (max-width:$bp-medium){
            width: 55%;
        }

        @media only screen and (max-width:$bp-small){
            width: 90%;
        }

        @media only screen and (max-width:$bp-micro){
            height: 15rem;
            font-size: 3.5rem;
            padding-top: 5rem;
        }

        &--1{background-color: $color-orange-dark};

        &--2{background-color: $color-blue-dark};
    }
}







